html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2196f3;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--background-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    width: 1140px;
  }
}

button {
  border: transparent;
}

textarea {
  resize: none;
}

img {
  max-width: 100%;
}

.line-header {
  position: relative;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .line-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
}

.line-header__logo {
  position: relative;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.line-header__logo > span {
  color: #000000;
}

/* navimenu */
.line-header__mobile-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .line-header__mobile-button {
    display: none;
  }
}

.line-header__mobile-button .line-header__icon-cros {
  display: none;
}

.line-header__mobile-button.is-open .line-header__icon-cros {
  display: block;
}

.line-header__mobile-button.is-open .line-header__icon-menu {
  display: none;
}

/* navimenu */
.line-header_menu-conteiner {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-left: 40px;
  height: 796px;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  margin-left: 236px;
}
.line-header_menu-conteiner.is-open {
  display: block;
}
@media screen and (min-width: 768px) {
  .line-header_menu-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 32px;
    height: 53px;
    background-color: inherit;
  }
}

.line-header__site-nav .line-header__item {
  color: #212121;
}

.line-header__item {
  display: block;
  font-size: 40px;
  margin-bottom: 32px;
}
@media screen and (min-width: 481px) {
  .line-header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .line-header__item {
    margin-bottom: 10px;
  }
}

.line-header__item-one {
  color: #2196f3;
}

.line-header__site-nav .line-header__item:hover,
.line-header__site-nav .line-header__item:focus {
  color: #2196f3;
}

.line-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line-header__item-one::after {
  content: "";
  position: absolute;
  display: block;
  width: 44px;
  height: 4px;
  left: 0;
  margin-bottom: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.line-header__site-nav {
  margin-left: 20px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .line-header__site-nav {
    margin-bottom: 306px;
  }
}
@media screen and (min-width: 768px) {
  .line-header__site-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .line-header__site-nav .line-header__item + .line-header__item {
    margin-left: 50px;
  }
}

.line-header__site-nav .line-header__link {
  color: #2196f3;
}

.line-header__contact-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .line-header__contact-nav {
    display: block;
  }
}

.line-header__contacts {
  color: #757575;
  margin-right: 50px;
}

.line-header__contacts :last-child {
  margin-right: 0;
}

.line-header__contacts + .line-header__contacts {
  margin-left: 50px;
}

.line-header__contacts.tel {
  color: #2196f3;
}
@media screen and (min-width: 481px) {
  .line-header__contacts.tel {
    color: #757575;
  }
}

.line-header__contacts .line-header__mail-icone {
  display: none;
}
@media screen and (min-width: 481px) {
  .line-header__contacts .line-header__mail-icone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: currentColor;
    width: 16px;
    height: 12px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .line-header__contacts .line-header__mail-icone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.line-header__links-box {
  margin-top: 64px;
  margin-left: 20px;
}

.line-header__links-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line-header__link {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.line-header__link:last-child {
  margin-right: 0px;
  border-right: none;
}

.line-header__networks {
  padding-right: 10px;
  width: 85px;
  height: 22px;
  left: 40px;
  top: 726px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
}

.hero {
  text-align: center;
  max-width: 1600px;
  /* outline: 1px solid black; */
  border: 1px solid #ECECEC;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero .hero__container {
  margin-top: 0;
}

.hero__title {
  margin-left: 60px;
  padding-top: 118px;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  margin-top: 30px;
  margin-bottom: 200px;
  padding: 10px 32px;
  text-align: center;
  font-family: inherit;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  background-color: #2196f3;
}

.hero__backdrob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__backdrob.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero__backdrob.is-hidden .hero__modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hero__modal-titele {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hero__form {
  margin-top: 12px;
  width: 448px;
  outline: 1px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.hero__form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
  text-align: left;
}

.hero__form-field:focus-within .hero__icone-label {
  fill: rgb(33, 150, 243);
}

.hero__form-field .hero__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__form-field .hero__input:focus {
  border-color: #2196F3;
  fill: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__form-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.hero__form-field input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 451px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  padding-left: 42px;
}

.hero__form-field .hero__coment {
  padding: 8px;
  width: 100%;
  height: 120px;
  margin-bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__form-field .hero__coment:focus {
  border-color: #2196F3;
  fill: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero__icone-label {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-top: 11px;
}

.hero__consent {
  margin-top: 20px;
}

.hero__checkbox {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero__checkbox:checked + .hero__icone-consent {
  display: inline-block;
  border-color: transparent;
  background-color: #2196F3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.hero__icone-consent {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
}

.hero__close-button {
  display: inline-block;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  width: 32px;
  height: 32px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.hero__icone-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 18px;
  height: 18px;
}

.hero__close-button .hero__icone-close:hover,
.hero__close-button .hero__icone-close:focus {
  fill: #2196F3;
}

.hero__send-form {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #f5f4fa;
  cursor: pointer;
}

.fetures {
  display: inline-block;
  margin-top: 60px;
  width: 450px;
  height: 994px;
  left: 15px;
  top: 520px;
}

.fetures__menu {
  height: 248px;
  padding-left: 0;
}

.fetures__icone {
  display: block;
  width: 70px;
}

.fetures__list {
  width: 450px;
  height: 226px;
  height: auto;
  margin-bottom: 30px;
}

.fetures__list:last-child {
  margin-right: 0;
}

.fetures__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 190px;
  width: 450px;
  height: 226px;
  background-color: #F5F4FA;
}

.fetures__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.fetures__text {
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.activity {
  display: none;
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__title {
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #212121;
}

.activity__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__icons {
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.activity__icons:last-child {
  margin-right: 0;
}

.activity__desctop-adds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.we {
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: rgb(245, 244, 250);
}

.we__team {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #212121;
}

.we__menu {
  max-width: 480px;
}

.we__list {
  max-width: 480px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.we__list-foto {
  width: 450px;
}

.we__list:last-child {
  margin-right: 0;
}

.we__name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
}

.we__position {
  margin-top: 10px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
}

.we__team-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 24px;
}

.we__button-network {
  display: inline-block;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
}

.we__button-network:hover,
.we__button-network:focus {
  background-color: #2196f3;
  fill: #FFFFFF;
}

.we__network {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  margin: 12px;
  color: #AFB1B8;
}

.regular-client {
  padding-top: 60px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__menu {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .client__menu {
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) {
  .client__menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client__menu {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    gap: 18px;
    margin-bottom: 60px;
  }
}

.client__activ-icons {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__client-link:hover,
.client__client-link:focus {
  fill: #2196f3;
}

.client__activ-icons:hover,
.client__activ-icons:focus {
  border: 1px solid #2196f3;
}

.client__link {
  fill: #afb1b8;
}

.client__icone {
  margin-top: 16px;
  width: 106px;
  height: 60px;
}

.client__icone:hover,
.client__icone:focus {
  fill: #2196f3;
}

.footer {
  height: 603px;
  background-color: #2f303a;
}

.footer .container {
  margin-top: 0;
  margin-bottom: 0;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-left: 163px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer__logo > span {
  color: #ffffff;
}

.footer__adsress {
  width: 232px;
  height: 79px;
  margin-top: 20px;
  margin-left: 124px;
  font-weight: 400;
  line-height: 1.7142857143;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__nav {
  padding-left: 0;
}

.footer__contacts {
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.network-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__add {
  position: absolute;
  margin-top: 60px;
  margin-left: 137px;
}

.footer__link-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__network-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__button {
  display: inline-block;
  margin-right: 10px;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: white;
}

.footer__button:hover,
.footer__button:focus {
  background-color: #2196f3;
}

.footer__network {
  width: 20px;
  height: 20px;
  fill: #FFFFFF;
}

.footer__subscription {
  padding-top: 200px;
}

.footer__subscription-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.footer__subscription-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 450px;
  height: 50px;
  left: 815px;
  top: 2784px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(47, 48, 58);
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscription-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  margin-left: 140px;
  cursor: pointer;
}

.footer__subscription-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-left: 28px;
  cursor: pointer;
}

.footer__subscription-icone {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #FFFFFF;
}

.filtr__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 329px;
  margin-bottom: 34px;
  margin-top: 40px;
}

.filr__button {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  margin-left: 8px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}

.filr__button:hover,
.filr__button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.filtr__icone {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  width: 1170px;
}

.filtr__item {
  position: relative;
  width: 450px;
  height: 404px;
  margin-bottom: 30px;
  margin-right: 30px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eeeeee;
  overflow: hidden;
}

.filtr__item:nth-child(3n) {
  margin-right: 0;
}

.filtr__item:hover,
.filtr__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filtr__item:hover .filtr__description,
.filtr__item:focus .filtr__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filtr__description-efect {
  position: relative;
  overflow: hidden;
}

.filtr__description-efect::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.filtr__item:hover .filtr__description-efect::before,
.filtr__item:focus .filtr__description-efect::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filtr__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 168px;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.img__filtr-icone {
  width: 450px;
  height: 294px;
}

.filtr__project-headlines {
  overflow: hidden;
}

.filtr__projeck-name {
  margin-top: 20px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.filtr__project-type {
  margin-top: 4px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */