.regular-client {
    padding-top: 94px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.client__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

.client__menu {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 480px) {
        gap: 30px;
        justify-content: center;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 480px) {
        justify-content: center;
        gap: 30px;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        justify-content: baseline;
        gap: 18px;
        margin-bottom: 60px;
    }
}

.client__activ-icons {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    justify-content: center;
}

.client__client-link:hover,
.client__client-link:focus {
    fill: #2196f3;
}

.client__activ-icons:hover,
.client__activ-icons:focus {
    border: 1px solid #2196f3;
}

.client__link {
    fill: #afb1b8;
}

.client__icone {
    margin-top: 16px;
    width: 106px;
    height: 60px;
}

.client__icone:hover,
.client__icone:focus {
    fill: #2196f3;
}