.we {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: rgba(245, 244, 250, 1);
}

.we__team {
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    color: $main-color;
}

.we__menu {
    // display: flex;
    max-width: 480px;
}

.we__list {
    max-width: 480px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
}

.we__list-foto {width: 450px;}

.we__list:last-child {
    margin-right: 0;
}

.we__name {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: $main-color;
}

.we__position {
    margin-top: 10px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    color: $second-color;
}

.we__team-networks {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.we__button-network {
    display: inline-block;
    padding: 0;
    // margin-bottom: 30px;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
}

.we__button-network:hover,
.we__button-network:focus {
    background-color: #2196f3;
    fill: #FFFFFF;
}

.we__network {
    justify-content: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin: 12px;
    color: #AFB1B8;
}