.line-header {
    position: relative;
    height: 60px;

    align-items: center;
    justify-content: center;

    background-color: $background-color;
    border-bottom: 1px solid #ececec;


    @media screen and (max-width: 767px) {
        position: relative;
    }

    @media screen and (min-width: 1140px) {
        display: flex;
        height: 80px;

    }
}

// HEADER

.line-header__logo {
    position: relative;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196f3;
}

.line-header__logo>span {
    color: #000000;
}

/* navimenu */


.line-header__mobile-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 481px) {
        display: none;
    }

    @media screen and (min-width: 1140px) {
        display: none;
    }

}

.line-header__mobile-button .line-header__icon-cros {
    display: none;
}

.line-header__mobile-button.is-open .line-header__icon-cros {
    display: block;
}

.line-header__mobile-button.is-open .line-header__icon-menu {
    display: none;
}

/* navimenu */



.line-header_menu-conteiner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-left: 40px;
    height: 796px;
    background-color: rgba(255, 255, 255, 1);
    overflow-y: scroll;

    &.is-open {

        display: block;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            background-color: inherit;
        }
    }

.burger-menu {
    @media screen and (max-width: 767px) {
        position: fixed;
            display: block;
            top: 0;
            left: 0;
            width: 435px;
            background-color: #fff;
    }
    


}



.line-header__site-nav .line-header__item {
    color: #212121;
}

.line-header__item {
        display: block;
        font-size: 40px;
        margin-bottom: 32px;

        @media screen and (min-width: 481px) {
            display: flex;
        }

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
}

.line-header__item-one {
    color: #2196f3;
}

.line-header__site-nav .line-header__item:hover,
.line-header__site-nav .line-header__item:focus {
    color: #2196f3;
}

.line-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-header__item-one::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    margin-bottom: -25px;
    bottom: 0;
    border-radius: 2px;
    background-color: #2196f3;
}



.line-header__site-nav {
    margin-top: 48px;
    margin-left: 40px;
    margin-bottom: 306px;
        font-weight: 500;
        line-height: 1.1428571429;
        letter-spacing: .02em;

    @media screen and (min-width: 481px) {
        position: relative;
        display: flex;}

    @media screen and (min-width: 768px) {
        margin-left: 93px;
            display: flex;
            font-weight: 500;
            line-height: calc(16 / 14);
            letter-spacing: 0.02em;
    }


    @media screen and (min-width: 1140px) {
        display: flex;
    }
}



.line-header__site-nav .line-header__item+.line-header__item {


    @media screen and (min-width: 768px) {
    margin-left: 50px;
    }
    
}

.line-header__site-nav .line-header__link {
    color: #2196f3;
}

.line-header__contact-nav {
    display: flex;
    margin-left: 20px;
    flex-direction: column-reverse;
}

.line-header__contacts {
    color: $second-color;
    margin-right: 50px;
}

.line-header__contacts :last-child {
    margin-right: 0;
}

.line-header__contacts+.line-header__contacts {
    margin-left: 50px;
}

.line-header__contacts.tel {
        color: #2196f3;
        @media screen and (min-width: 481px) {
            color: $second-color;
        }
}

.line-header__contacts .line-header__mail-icone {
    display: none;

    @media screen and (min-width: 481px) {
        align-items: center;
            fill: currentColor;
            width: 16px;
            height: 12px;
            text-align: center;
            justify-content: center;
    }
    @media screen  {
        
    }
}

.line-header__links-box {
    margin-top: 64px;
    margin-left: 20px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.line-header__links-menu {
    display: flex;
    
}

.line-header__link {
        margin-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.line-header__link:last-child {
    margin-right: 0px;
        border-right: none;
}

.line-header__networks {
    padding-right: 10px;
    width: 85px;
    height: 22px;
    left: 40px;
    top: 726px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: rgba(33, 150, 243, 1);
    
}