.fetures {

    display: inline-block;
    margin-top: 60px;
    max-width: 450px;
    height: 994px;
    left: 15px;
    top: 520px;
    
    @media screen and (min-width: 768px) {
        max-width: 738px;
        height: 480px;
    }

    @media screen and (min-width: 1140px) {
        display: flex;
        margin-top: 94px;
        width: 100%;
        height: 100%;

    }
}

.fetures__menu {
    // display: flex;
    height: 248px;
    padding-left: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1140px) {
        display: flex;
        height: 248px;
        padding-left: 0;
        flex-wrap: nowrap;
    }
}

.fetures__icone {
    display: block;
    // margin-bottom: 25px;
    max-width: 70px;
    // height: 70px;

    @media screen and (min-width: 768px) {
        max-width: 70px;
        height: 70px;
    }

    @media screen and (min-width: 1140px) {
        display: block;
        margin-bottom: 25px;
        max-width: 70px;
        height: 70px;
    }
}

.fetures__list {
    max-width: 450px;
    height: 226px;
    height: auto;
    // margin-right: 30px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        max-width: 354px;
        height: 226px;
        margin-right: 30px;
    }

    @media screen and (min-width: 1140px) {
        max-width: 270px;
        height: 120px;
        height: auto;
        margin-right: 30px;
        margin-bottom: 30px;
    }


}

.fetures__list:nth-child(2n) {
    @media screen and (max-width: 1139px) {
        margin-right: 0;
    }
}


.fetures__list:last-child {
    margin-right: 0;
}

.fetures__container {
    display: flex;
    padding: 25px 190px;
    width: 450px;
    height: 226px;
    background-color: #F5F4FA;

    @media screen and (min-width: 768px) {
        max-width: 354px;
        height: 120px;
        padding: 25px 142px;
    }

    @media screen and (min-width: 1140px) {
            padding: 20px 100px;
            max-width: 270px;
        }
}

.fetures__title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
}

.fetures__text {
    margin-top: 10px;
    font-weight: 400;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $second-color;            
}